{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2 class="h2-responsive">gensim word2vec/doc2vec service with Flask</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">word2vec</h4>
                <p class="card-text">Tool for computing continuous distributed representations of words.</p>
                <a href="https://code.google.com/archive/p/word2vec/" class="btn btn-primary">Learn more &raquo;</a>
            </div>
        </div>
    </div>
</div>

<hr class="extra-margins">

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">gensim word2vec</h4>
                <p class="card-text">models.word2vec – Deep learning with word2vec</p>
                <a href="https://radimrehurek.com/gensim/models/word2vec.html" class="btn btn-primary">Learn more &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">gensim doc2vec</h4>
                <p class="card-text">models.doc2vec – Deep learning with paragraph2vec</p>
                <a href="https://radimrehurek.com/gensim/models/doc2vec.html" class="btn btn-primary">Learn more &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Deeplearning4j Word2vec</h4>
                <p class="card-text">Word2vec: Neural Word Embeddings in Java</p>
                <a href="http://deeplearning4j.org/word2vec" class="btn btn-primary">Learn more &raquo;</a>
                <a href="http://deeplearning4j.org/ja-word2vec" class="btn btn-primary">in japanese &raquo;</a>
            </div>
        </div>
    </div>
</div>

<hr class="extra-margins">

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Flask</h4>
                <p class="card-text">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                <a href="http://flask.pocoo.org/" class="btn btn-primary">Learn more &raquo;</a>
                <a href="https://flask-docs-ja.readthedocs.io/en/latest/" class="btn btn-primary">in japanese &raquo;</a>
            </div>
        </div>
    </div>
</div>

<hr class="extra-margins">

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Material Design</h4>
                <p class="card-text">Visual language developed by Google.</p>
                <a href="https://material.google.com/" class="btn btn-primary">Learn more &raquo;</a>
                <a href="https://material.google.com/jp/" class="btn btn-primary">in japanese &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Material Design for Bootstrap</h4>
                <p class="card-text">Powerful and free Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap</p>
                <a href="http://mdbootstrap.com/" class="btn btn-primary">Learn more &raquo;</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
